@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');  
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*HEADER*/

header{
background-color:white  ;
opacity: 88%;
display: flex;
}

/*LOGO*/

.logo {
    width: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0 0 4%;
}


.logo img {
    max-width: 99%;
}


.blank{
    width: 53%;
}


/*LINKS LOGO*/

.links-logo{
    display: flex;
}

.links-logo a{
    padding: 2% 8% 1% 2%;
}
.links-logo img{
    margin: 10px 0% 0% 0%;
    height: 3em;
    padding: 5px;
}



/*FOOTER*/
footer{
    background: linear-gradient(to top, black,#202020,rgb(46, 46, 46),rgb(67, 66, 66));
    display: flex;
    
    justify-content: center;
    align-items: center;
    height: 29vh;
}

footer div{
    font-size: large;
    color: #ffb5b5;
    margin: 0.5% 4%;
    padding: 1%;
}
.footer{
    border-left: 2px solid;
}

.footer a{
    text-decoration: none;
    color: #9c9990;
}
.footer pre{
    color: #9c9990;
}


/*NAVIGATION*/


.navbar{
    display: flex;
    align-items: center;
    top: 0;
    cursor: pointer;
    background: black;
    position: sticky;
    z-index: 5;
    
}

/*NAVIGATION LINKS*/

.navigation{
    width: 69%;
    display: flex;
    align-items: center;
}

.navigation ul{
    display: flex;
}

.navigation li{
    list-style: none;
    padding: 4% 28%;
}

.navigation li a{
    text-decoration: none;
    color: white;
    
}

.navigation a:hover{
    color: rgb(249 102 102);
    border-radius: 30px;
}




/*MAIN IMAGES*/

.section_one{
    height: 71vh;
}
#background{
    background: url(../IMAGES/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section_one img{
    max-width: 100%;
}

/*mission*/
#mission{
    display: flex;
    max-width: 90%;
    justify-content: center;
    margin-left: 4%;
}
.mission {
    display: flex;
    color: white;
    margin: 1% 0% 0% 1%;
    max-width: 33%;
}

.mission img{
    width: 40%;
}
.mission div{
    margin: 1%;
    padding: 4%;
}
.mission div p{
    font-size: x-large;
}


/*ABOUT US*/

.about_us p{

font-size: 25px;
border-left: 10px solid rgb(249 102 102);
color: #676767;
margin: 1%;
padding: 1%;
}

/*heading class*/
.heading{
    color: white;
    font-size: 29.81px;
    font-weight: 700;
    line-height: 53.86px;
    margin: 0% 2%;
    text-decoration: underline;}


/* SLIDESHOW*/
.image-sliderfade
{
display: flex;
justify-content: center;
}
.image-sliderfade img{
  max-width: 31%;
  padding: 1%;
}


.container
{
    position: relative;
    margin: 2% 0% 1% 0%;
    background-color: rgb(223 223 223);
}
.container button{
    border: none;
    margin: 1%;
    margin-left: 45%;
    padding: 0.4%;
    background-color: #ca4343;
}
.container button a{
  text-decoration: none;
  color: white;
  font-size: medium;
}
.container button:hover{
    background-color: black;
}

/*TEXT CONTENT*/
.context{
    background: #ca4343;
    /* margin: 3%; */
    font-size: 25px;
    color: white;
    padding: 2%;
}


#About_Us{
    margin: 2%;
    font-weight: bold;
}
#content{
    margin: 1%;
}

/*MEMEBERS*/
.members{
    background-color: rgb(223 223 223);
    max-width: 100%;
    margin: 2% 0%;
    padding: 2%;
}
.member_box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.member_box div{ 
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 33%;
    max-width: 33%;
    background-color: white;
    box-shadow: 4px 4px 20px 3px rgb(47 47 47);
}
.member_box div p{
    padding: 1%
}
#swapan_sir{
    max-width: 45%;
}
#trishna_das{
 max-width: 36.5%;
}
#madhurima_paul{
 max-width:40%;
}



/*CONTACT US */
.location{
    border-left: 5px solid rgb(249 102 102) ;
    margin: 2%;
}
.location p{
    color: rgb(249 102 102);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin: 1%;
    font-weight: 600;
}
.location blockquote{
    margin: 1%;
}
iframe{
    max-width: 80%;
    border: 0;
    width: 100%;
    margin: 2%;
}





 /************GALLERY PAGE*********/
/*GALLERY*/

.gallery{
   
    margin: 1% 1% 1% 1%;
}
.image img{
    width: 31%;
    padding: 1%;
}

.gallery_text{
    font-size: xx-large;
    padding: 0.5%;
    color: rgb(249 102 102);
    max-width: 97%;
    border: 1px solid rgb(249 102 102);
    display: flex;
    justify-content: center;
    margin: 0% 4%;
}







/****************************************************************************************************/
 /************DONATION PAGE*********/

.donations{
    background-color: rgb(223 223 223);
    max-width: 100%;
    margin: 0% 0%;
    padding: 2%;
}

.donate_box{ 
    margin-left: 6%;
    max-width: 90%;
    background-color: white;
    box-shadow: 4px 4px 20px 3px rgb(47 47 47);
    border-radius: 20px;
}
#donate_wrap{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    max-width: 100%;
} 

#div_1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#div_1 h1{
    font-size: 44px;
    color: rgb(255 66 66 / 90%);
    margin-top: 0.5%;
}
#div_1 p{
    margin: 2%;
}

#div_2{
    font-size: x-large;
    margin-left: 1%;
}
#div_2 h4{
   text-decoration: underline;

    font-size: 38px;
}
